<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="/assets/img/newHero.png">

  <link rel="stylesheet" href="/asset-reg/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/asset-reg/css/owl.carousel.min.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/asset-reg/css/bootstrap.min.css">

  <!-- Style -->
  <link rel="stylesheet" href="/asset-reg/css/style.css">

  


  <!-- Favicons -->
  <link href="/assets-admin/img/logo-small.png" rel="icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- End Header -->
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="/asset-reg/images/signUup.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-md-6 contents">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <div class="mb-4">
                <h3>Users Update</h3>
                

              <form action="/update-user/<%=update._id%>" method="post">
                <div class="form-group first">
                  <label for="email">Name</label>
                  <input type="text" class="form-control" id="name" name="name" value="<%=update.name%>">
                </div>
                <div class="form-group last md-4">
                  <label for="ID">Employee ID</label>
                  <input type="number" class="form-control" value="<%=update.employee_ID%>" id="ID" name="employee_ID">
                </div>

                <div class="form-group first">
                  <label for="designation">Designation</label>
                  <input type="text" class="form-control" id="designation" value="<%=update.designation%>" name="designation">
                </div>
                <div class="form-group last md-4">
                  <label for="department">Department</label>
                  <input type="text" class="form-control" id="department" value="<%=update.department%>" name="department">
                </div>

                <div class="form-group first">
                  <label for="department" style="top: 0.7rem; transition: none;">DOB</label>
                  <input type="text" class="form-control" id="dob" placeholder="Select Date" name="dob" value="<%=update.dob.toDateString()%>" >
                </div>
                <div class="form-group first">
                  <label for="department" style="top: 0.7rem; transition: none;">Approval</label>
                  <input type="text" class="form-control" id="approval" placeholder="Select Date" value="<%=update.appointment_date.toDateString()%>" name="appointment_date" >
                </div>

                <div class="form-group first">
                    <label for="department" style="top: 0.7rem; transition: none;">Gender</label>
                    <input type="text" class="form-control" id="approval" placeholder="Select Date" value="<%=update.gender%>" name="gender" >
                  </div>
                <div class="d-flex mb-5 align-items-center">
                  <!-- <span class="ml-auto"><a href="/login" class="forgot-pass">Already have an account</a></span> -->
                </div>
                <input type="submit" value="Update"  class="btn btn-block btn-secondary" style="background-color: #ffcc60;" onmouseover="this.style.backgroundColor='#ffaa00';" onmouseout="this.style.backgroundColor='#ffcc60';">
              </form>
            </div>

          </div>
        </div>

      </div>

    </div>
  </div>
  <script>
    function formatDate(input) {
      var dateValue = input.value;
      var formattedDate = new Date(dateValue).toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' });
      input.value = formattedDate;
    }
  </script>

  <!-- ======= Footer ======= -->
  
  <script src="/asset-reg/views/js/align-items-center.js"></script>
  <script src="/asset-reg/js/jquery-3.3.1.min.js"></script>
  <script src="/asset-reg/js/popper.min.js"></script>
  <script src="/asset-reg/js/bootstrap.min.js"></script>
  <script src="/asset-reg/js/main.js"></script>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>

</html>
